h2{
    font-size: 24px;
    font-family: arial;
    color: white;
}
p{
    font-size: 16px;
    font-family: arial;
    color: black;
}
img{
    width: 385;
    height: 182px;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    color: white;
    font-family: arial;
    font-size: 16px;
}
.header {
    background-color: #00AF1C;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    align-items: center;
    width: 100%;
    height: 80px;
}
.header .logo {
    font-size: 32px;
    padding-left: 1%;
    margin-left: 1%;
}
.header .lista1{
    padding-right: 2%;
    margin-right: 2%;
}
.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li {
    margin-left: 25px;
}
.main .fotos1{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 5%;
}
.main .HOME{
    color: #3B06D2;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 2%;
    font-weight: bold;
    font-style: normal;
}
.main .section1 .p1{
    margin-left: 2%;
    margin-right: 4%;
    text-align: justify;
}
.main .SERVICIOS{
    color: #D206B2;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 2%;
    font-weight: bold;
    font-style: normal;
}
.main .section2 .p1{
    margin-left: 2%;
    margin-right: 4%;
    text-align: justify;
}
.main .section2 .lista2 {
    color: black;
    margin-top: 25PX;
    list-style: NONE;
    margin-left: 2%;
}
.main .section2 .lista2 ul li:nth-child(1) {
    color: #FF0000;
}
.main .section2 .lista2 ul li:nth-child(2) {
    color: blue;
}
.main .section2 .lista2 ul li:nth-child(3) {
    color: orange;
}
.main .section2 .lista2 ul li:nth-child(4) {
    color: green;
}
.main .PORTAFOLIO{
    color: #AAD206;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 2%;
    font-weight: bold;
    font-style: normal;
}
.main .section3 .p1{
    margin-left: 2%;
    margin-right: 4%;
    text-align: justify;
}
.main .section3 .lista3 {
    color: black;
    margin-top: 25PX;
    list-style: NONE;
    margin-left: 2%;
}
.main .section3 .lista3 ul li:nth-child(1) {
    color: orange;
}
.main .section3 .lista3 ul li:nth-child(2) {
    color: red;
}
.main .section3 .lista3 ul li:nth-child(3) {
    color: blue;
}
.main .section3 .lista3 ul li:nth-child(4) {
    color: green;
}
.main .CONTACTO{
    color: #06D2C6;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 2%;
    font-weight: bold;
    font-style: normal;
}
.main .section4 .inputs {
   display: flex;
   flex-direction: column;
}
.main .section4 .p1{
    margin-left: 2%;
    margin-right: 4%;
    text-align: justify;
}
input{
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 4%;
    width: 93%;
}
textarea{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 4%;
    width: 93%;
}
button{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2%;
    width: 5%;
}
.footer {
    background-color: #00AF1C;
    padding-right: 25px;
    width: 100%;
    height: 80px;
}
.footer .section5 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-right: 2%;
}