*{
    padding: 0;
    margin: 0;
}

body {
    font-family: helvetica;
   background-color: black;
}
h1 {
    color:green;
    background-color:white;
    font-weight: bold;
}
section{
    background-color: yellow;
    border: 4px solid #715
}
section article p {
    color: green 
}
li {
    color: blue;
}
ul{
    background-color: #eee;
    text-align: right;
}
ul li {
    list-style: none;
    display: inline
}
div {
    border: 5px black;
    text-align: center;
}
a {
    color: #000;
    text-decoration:none;
}
/*para poder acceder a un id que es html usamos el #+ el nombre que le asignamos*/
#titulo {
    color: #715;
}
#text__introduccion {
    text-align: justify;
}
/* los Id deben ser únicos, solo deben afectar a un solo elemento */
/* en la práctica se puede asignar más de uno, pero esto no es una buena práctica*/
.text__introduccion {
    text-align: justify;
    color: blue;
}
#logo{
    width: 350px;
    border: 5px solid green;
}